<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>
    
     <link rel="stylesheet/less" href="{{ STATIC_URL }}style.less">
    <link rel="stylesheet" href="{{ STATIC_URL }}thickbox.css" type="text/css" media="screen" />
    <script src="{{ STATIC_URL }}less.js"></script>
    <script src="{{ STATIC_URL }}jquery-1.11.3.js"></script>
    <script src="{{ STATIC_URL }}thickbox.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" media="screen" />

    <!-- MetisMenu CSS -->
    <link href="{{ STATIC_URL }}css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{{ STATIC_URL }}css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ STATIC_URL }}css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet/less" href="{{ STATIC_URL }}style.less">
    <link rel="stylesheet" href="{{ STATIC_URL }}thickbox.css" type="text/css" media="screen" />
    <script src="{{ STATIC_URL }}less.js"></script>
    <script src="{{ STATIC_URL }}jquery-1.11.3.js"></script>
    <script src="{{ STATIC_URL }}thickbox.js"></script>
</head>
<body>
    <header>
        <div class="wrapper">
            <!--<img src="{{ STATIC_URL }}gfx/logo.png">
            <span>Twitter Clone</span>-->
            {% block login %}
            <a href="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <!--<a href="/users/">Public Users</a>-->
            <a href="/user_profile/{{ username }}">My Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/footprint/">Foot Print</a>
            <form action="/logout">
                <input type="submit" id="btnLogOut" value="Log Out">
            </form>
            {% endblock %}
        </div>
    </header>
    <div id="1">
        <div class="wrapper1">
            {% block flash %}
            {% if auth_form.non_field_errors or user_form.non_field_errors or ribbit_form.errors %}
            <div class="flash error">
                {{ auth_form.non_field_errors }}
                {{ user_form.non_field_errors }}
            </div>
            {% endif %}
            {% if notice %}
            <div class="flash notice">
                {{ notice }}
            </div>
            {% endif %}
            {% endblock %}
 
            {% block content %}
 
            {% endblock %}
        </div>
    </div>
    <footer>
        <div class="wrapper">
        	Copyright Code Rumble &copy 2016
            <!-- <a href="http://net.tutsplus.com">
                <img src="{{ STATIC_URL }}gfx/logo-nettuts.png">
            </a>-->
            <a href="http://www.djangoproject.com/">
                <img src="https://www.djangoproject.com/m/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." />
            </a>
        </div>
    </footer>
</body>
</html>