{% extends "base.html" %}
 
 <div class="login">
{% block login %}
	{% if not user.is_authenticated %}
	<table>
    <form action="/login" method="post">{% csrf_token %}
    	<tr>
        {% for field in auth_form %}
        <td style="margin:5px; background-color:red;">{{ field }} </td>
        {% endfor %}
        <td><input type="submit" id="btnLogIn" value="Log In"></td>
        </tr>
    </form>
    </table>
    <h4><b>New to BW Shipping Portal?</b></h4>
    <table>
        <form action="/signup" method="post">{% csrf_token %}
            {% for field in user_form %}
            <tr><td>{{ field }}</td></tr>
            {% endfor %}
            <tr><td><input type="submit" value="Create Account"></td></tr>
        </form>
      </table>
      {% endif %}
{% endblock %}
</div>
 
{% block content %}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

{% endblock %}