{% extends "goods_owner.html" %}
{% block controlled_table %}
<div class="row">
                <div class="col-lg-9">
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Jobs bids
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
					<!-- <div class="container"> -->         
					  <table class="table">
					    <thead>
					      <tr>
					        <th>Cargo Type</th>
					        <th>Starting Point</th>
					        <th>Destination</th>
					        <th>Status</th>
					        <th>Shippers</th>
					        <th>Assign</th>
					      </tr>
					    </thead>
					    <tbody>
					    	{% for job in my_jobs %}
						       <tr>
		<form name="form1" id="form{{forloop.counter0}}" action="{% url 'shipper_url' %}" method="GET">
  			<input type="hidden" name="job_identifier" id="job_identifier" value="{{job.job_identifier}}">
  			<input type="hidden" name="username" id="username">
		</form>
						        <td>{{job.cargo_type}} </td>
						        <td>{{job.starting_point}}</td>
						        <td>{{job.destination}}</td>
						        <td>Accepted</td>
						        <td>
								<select name="select_action" id="select_action">
								{% for shipper in shippers %}
									  <option value="{{shipper.username}}">{{shipper.user.first_name}} {{shipper.user.last_name}}</option>
								{% endfor %}
								</select>
								</td>
								<td><button type="submit" class="btn btn-primary">Assign</button></td>
							{% endfor %}
					    </tbody>
					  </table>
				<!-- </div> -->                  
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Goods transportation route
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            	<table>
                            	<tr><td>
								<div id="googleMap" style="width:600px;height:380px;"></div>
                            	</td></tr>
                            	</table>                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Notifications Panel
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                        {% for bidder in biddings %}
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> {{bidder.bid_owner.user.first_name}} {{bidder.bid_owner.user.last_name}}
                                    <span class="pull-right text-muted small"><em>{{bidder.bidding_amount}}</em>
                                    </span>
                                </a>
                              </div>
                         {% endfor %}
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
{% endblock %}